header {
    background-image: url('../img/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 80vh;
}

.header__content {
    opacity: .8;
}

.header__content ul li::before {
    content: ' - ';
    margin-right: 2px;
}

.header__content ul li {
    font-size: 1.25rem;
}

#prices .card {
    transition: .3s;
}

#prices .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, .5);
}